@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


/* ==============================
  import modules (dependencies)
============================== */
@import '/modules/colors';
@import '/modules/gridsys';
@import '/modules/mqbp';
@import '/modules/font-settings';
@import '/modules/prefix-settings';
@import '/modules/pseudo-classes';
@import '/modules/buttons';
@import '/modules/timepicker';
@import '/modules/tooltip';
@import '/modules/event-list';


/* ==============================
  global(tags)
============================== */
body {
  outline: 0;
  color: $textDark;
  @include font-settings();
  @include font-stack-html();
  @include font-size($grid4x);
  @include line-height($grid4x);
}

h1,
h2 {
  font-weight: normal;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0 $grid2x;
  display: inline-block;
}

a {
  color: $brand;

  &:hover {
    color: $brand-hover;
  }
}


/* ==============================
  calendar div
============================== */
#calendar-base {
  width: 100vw;
  @include box-settings();
}


/* ==============================
  global
============================== */
#app {
  @include font-settings();
  @include font-stack-html();
  @include font-size($grid4x);
  @include line-height($grid4x);
}
