@import "/dist/normalize.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@mixin box-sizing($val){
  box-sizing: $val;
  -o-box-sizing: $val;
  -ms-box-sizing: $val;
  -moz-box-sizing: $val;
  -khtml-box-sizing: $val;
  -webkit-box-sizing: $val;
}

*{ @include box-sizing(border-box) }

// mixin default font
@mixin font-stack-html() {
            font-family: 'Spoqa Han Sans', 'Source Sans Pro', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
    -webkit-font-family: 'Spoqa Han Sans', 'Source Sans Pro', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
}


// text rendering
@mixin font-settings() {
  direction: ltr;
       font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  -webkit-text-decoration-skip: ink;
}

/* ==============================
    opacity
============================== */
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}

// color stack
$textDark:      #373746;
$textGrey:      #797980;
$textLightGrey: #9898A1;
$before:        #babac0;
$lightGrey:     #D0D0D7;
$whiteGrey:     #f4f4f4;
$listBase:      #F8F8F9;
$stroke:        #e5e5e5;

$brand:         #327DE1;
$brand-hover:   #2968BC;
$white-hover:   #f4f4f4;
$white:         #ffffff;

$disabled:      rgba(55, 55, 70, 16);

$black16:       rgba(0,0,0,0.16);
$black38:       rgba(0,0,0,0.38);
$black54:       rgba(0,0,0,0.54);
$black78:       rgba(0,0,0,0.78);

/* ==============================
    media query breakpoints
============================== */
$tablet:       "only screen and (max-width : 768px)";
$landsc:       "only screen and (max-width : 600px)";
$middle:       "only screen and (max-width : 520px)";
$mobile:       "only screen and (max-width : 420px)";
$mobile-small: "only screen and (max-width : 360px)";

/* ==============================
    4px grid system
============================== */
$grid:     4px;
$grid2x:  ($grid * 2 );
$grid4x:  ($grid * 4 );
$grid6x:  ($grid * 6 );
$grid8x:  ($grid * 8 );
$grid10x: ($grid * 10);
$grid12x: ($grid * 12);
$grid14x: ($grid * 14);
$grid16x: ($grid * 16);
$grid24x: ($grid * 24);
$grid32x: ($grid * 32);
$grid36x: ($grid * 36);
$grid64x: ($grid * 64);


/* ==============================
    default font-size, line-height
============================== */
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}
@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}
@mixin line-height($size) {
    line-height: $size * 1.6;
    line-height: calculateRem($size) * 1.6;
}

/* ==============================
    box border bgcolor
============================== */
@mixin box-settings($bd: $stroke, $bg: white, $n: 0px) {
    -webkit-border: 1px solid $bd;
    -mozborder: 1px solid $bd;
    border: 1px solid $bd;
    background-color: $bg;
    -webkit-border-radius: $n;
    -khtml-border-radius: $n;
    -moz-border-radius: $n;
    -ms-border-radius: $n;
    -o-border-radius: $n;
    border-radius: $n;
}


// mixin icon font
@mixin font-stack-icon() {
          font-family: 'Material Icons';
     -moz-font-family: 'Material Icons';
  -webkit-font-family: 'Material Icons';
  @include font-settings();
}

$sizes: '16', '24', '36', '48';
@each $size in $sizes {
  .md-#{$size} {font-size: #{$size}px}
}


/* ==============================
    transition
============================== */
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -khtml-transition:  $transition;
    -moz-transition:    $transition;
    -ms-transition:     $transition;
    -o-transition:      $transition;
    transition:         $transition;
}

/* ==============================
    pseudo class
============================== */
::placeholder {
  color: $before;
}
::selection {
    background-color: $brand;
    color: $white;
}
img::selection {
    visibility:hidden;
    background:transparent;
}
input[type=text]::-ms-clear {
    display: none;
}
select, button, input:focus {
    outline: none !important;
}
select::-ms-expand {
    display: none;
}
button {
  &:hover{
    cursor: pointer !important;
  }
}

/* ==============================
    stylesheet
============================== */
#app {
  @include font-size(16px);
  @include line-height(16px);
  @include font-stack-html();
  @include font-settings();
  text-align: center;
  margin-top: 60px;
}

// default font settings
body {
    color: $textDark;
    outline: none;
    @include font-size(16px);
    @include line-height(16px);
    @include font-stack-html();
    @include font-settings();
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $brand;
  &:hover {
    color: $brand-hover;
  }
}

@mixin transform($val){
  transform: $val;
  -o-transform: $val;
  -ms-transform: $val;
  -moz-transform: $val;
  -khtml-transform: $val;
  -webkit-transform: $val;
}

/* ==============================
  make center
============================== */
@mixin set-center(){
  top: 50%;
  left: 50%;
  margin-right: -50%;
  @include transform(translate(-50%, -50%));
}


/* ==============================
  calendar div
============================== */
#calendar-base {
  @include box-settings();
  width: 100vw;
}


@mixin border-radius($val){
  -webkit-border-radius: $val;
  -khtml-border-radius: $val;
  -moz-border-radius: $val;
  -ms-border-radius: $val;
  -o-border-radius: $val;
  border-radius: $val;
}

@mixin animation-settings($name, $dur){
  -webkit-animation: $name $dur;
  -khtml-animation: $name $dur;
  -moz-animation: $name $dur;
  -ms-animation: $name $dur;
  -o-animation: $name $dur;
  animation: $name $dur;
  -webkit-animation-iteration-count: 1;
  -khtml-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@mixin keyframes($name, $dur){
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
  @include animation-settings($name, $dur);
}

@mixin inner-border($val, $color){
  -webkit-box-shadow: inset 0px 0px 0px $val $color;
  -khtml-box-shadow: inset 0px 0px 0px $val $color;
  -moz-box-shadow: inset 0px 0px 0px $val $color;
  -ms-box-shadow: inset 0px 0px 0px $val $color;
  -o-box-shadow: inset 0px 0px 0px $val $color;
  box-shadow: inset 0px 0px 0px $val $color;
}
