/* ==============================
  button global extends
============================== */
%global-btns {
  border: 0;
  color: white;
  cursor: pointer;
  width: $grid24x;
  height: $grid8x;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  background-color: $brand;
  @include font-size($grid5x);
  @include line-height($grid8x);
  @include border-radius($grid);
  @include transition(background-color .25s ease);
  @include render-hack(width, height, transition, background-color);
  &:hover {
    background-color: $brand-hover;
  }
  &::selection {
    background-color: transparent;
  }
}

%global-btns-white {
  @extend %global-btns;
  color: $textLightGrey;
  background-color: white;
  @include transition(all .25s ease);
  @include render-hack(width, height, transition, background-color, color);
  &::selection {
    color: $textLightGrey;
  }
  &:hover{
    color: $textGrey;
    background-color: $white-hover;
    &::selection {
      color: $textGrey;
    }
  }
}
