/* ==============================
  color stack
============================== */
$textDark:      #373746;
$textGrey:      #797980;
$textLightGrey: #9898A1;
$before:        #babac0;
$lightGrey:     #D0D0D7;
$whiteGrey:     #f4f4f4;
$whiteGreyB:    #f0f0f0;
$listBase:      #F8F8F9;
$stroke:        #e5e5e5;

$brand:         #327DE1;
$brand-hover:   #2968BC;
$white-hover:   #f4f4f4;
$white:         #ffffff;

$brand-op:    rgba(50,125,225, 0.08);
$disabled:      rgba(55, 55, 70, 16.0);

$black16:       rgba(0,0,0,0.16);
$black38:       rgba(0,0,0,0.38);
$black54:       rgba(0,0,0,0.54);
$black78:       rgba(0,0,0,0.78);
$black78:       rgba(0,0,0,0.87);


/* ==============================
  opacity
============================== */
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
  @include render-hack(opacity, filter);
}
