/* ==============================
  text rendering
============================== */
@mixin font-settings() {
  direction: ltr;
       font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  -webkit-text-decoration-skip: ink;
}


/* ==============================
  mixin font stack default
============================== */
@mixin font-stack-html() {
          font-family: 'Spoqa Han Sans', 'Source Sans Pro', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
     -moz-font-family: 'Spoqa Han Sans', 'Source Sans Pro', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
  -webkit-font-family: 'Spoqa Han Sans', 'Source Sans Pro', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
}


/* ==============================
  mixin icon font
============================== */
@mixin font-stack-icon() {
          font-family: 'Material Icons';
     -moz-font-family: 'Material Icons';
  -webkit-font-family: 'Material Icons';
  @include font-settings();
}

$sizes: '16', '24', '36', '48';
@each $size in $sizes {
  .md-#{$size} {font-size: #{$size}px}
}
