/* ==============================
  4px grid system
============================== */
$grid:     4px;
$grid2x:  ($grid * 2 );
$grid4x:  ($grid * 4 );
$grid6x:  ($grid * 6 );
$grid8x:  ($grid * 8 );
$grid10x: ($grid * 10);
$grid12x: ($grid * 12);
$grid14x: ($grid * 14);
$grid16x: ($grid * 16);
$grid18x: ($grid * 18);
$grid24x: ($grid * 24);
$grid32x: ($grid * 32);
$grid36x: ($grid * 36);
$grid48x: ($grid * 48);
$grid56x: ($grid * 56);
$grid64x: ($grid * 64);


/* ==============================
  default font-size, line-height
============================== */
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
@mixin line-height($size) {
  line-height: $size * 1.6;
  line-height: calculateRem($size) * 1.6;
}


/* ==============================
  transform
============================== */
@mixin transform($val){
  transform: $val;
  -o-transform: $val;
  -ms-transform: $val;
  -moz-transform: $val;
  -khtml-transform: $val;
  -webkit-transform: $val;
}
