/* ==============================
  media query breakpoints
============================== */
$tablet:       "only screen and (max-width : 767px)";
$tablet-min:   "only screen and (min-width : 768px)";
$landsc:       "only screen and (max-width : 600px)";
$middle:       "only screen and (max-width : 520px)";
$mobile:       "only screen and (max-width : 420px)";
$mobile-small: "only screen and (max-width : 360px)";
