/* ==============================
  gpu hack
============================== */
@mixin     render-hack($val...){
  -webkit-will-change: $val;
  -khtml-will-change:  $val;
  -moz-will-change:    $val;
  -ms-will-change:     $val;
  -o-will-change:      $val;
  will-change:         $val;
}


/* ==============================
  box sizing prefix
============================== */
@mixin     box-sizing($val){
  -webkit-box-sizing: $val;
  -khtml-box-sizing:  $val;
  -moz-box-sizing:    $val;
  -ms-box-sizing:     $val;
  -o-box-sizing:      $val;
  box-sizing:         $val;
  @include render-hack(box-sizing);
}

*{ @include box-sizing(border-box) }


/* ==============================
    transition
============================== */
@mixin       transition($transition...) {
    -webkit-transition: $transition;
    -khtml-transition:  $transition;
    -moz-transition:    $transition;
    -ms-transition:     $transition;
    -o-transition:      $transition;
    transition:         $transition;
  @include render-hack  (transition);
}


/* ==============================
  transform
============================== */
@mixin     transform($val){
  transform:         $val;
  -o-transform:      $val;
  -ms-transform:     $val;
  -moz-transform:    $val;
  -khtml-transform:  $val;
  -webkit-transform: $val;
  @include render-hack(transform);
}


/* ==============================
  border radius
============================== */
@mixin     border-radius($val){
  -webkit-border-radius: $val;
  -khtml-border-radius:  $val;
  -moz-border-radius:    $val;
  -ms-border-radius:     $val;
  -o-border-radius:      $val;
  border-radius:         $val;
  @include render-hack(border-radius);
}


/* ==============================
  animations
============================== */
@mixin    animation-settings($name,$dur){
  -webkit-animation:         $name $dur ease;
  -khtml-animation:          $name $dur ease;
  -moz-animation:            $name $dur ease;
  -ms-animation:             $name $dur ease;
  -o-animation:              $name $dur ease;
  animation:                 $name $dur ease;
  -webkit-animation-iteration-count:       1;
  -khtml-animation-iteration-count:        1;
  -moz-animation-iteration-count:          1;
  -ms-animation-iteration-count:           1;
  -o-animation-iteration-count:            1;
  animation-iteration-count:               1;
  -webkit-animation-fill-mode:      forwards;
  -khtml-animation-fill-mode:       forwards;
  -moz-animation-fill-mode:         forwards;
  -ms-animation-fill-mode:          forwards;
  -o-animation-fill-mode:           forwards;
  animation-fill-mode:              forwards;
  @include render-hack(animation);
}

@mixin keyframes($name, $dur){
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
  @include render-hack(keyframes);
  @include animation-settings($name, $dur);
}


/* ==============================
  box shadow (inner border)
============================== */
@mixin               inner-border($val,$color){
  -webkit-box-shadow: inset 0 0 0 $val $color;
  -khtml-box-shadow:  inset 0 0 0 $val $color;
  -moz-box-shadow:    inset 0 0 0 $val $color;
  -ms-box-shadow:     inset 0 0 0 $val $color;
  -o-box-shadow:      inset 0 0 0 $val $color;
  box-shadow:         inset 0 0 0 $val $color;
  // TODO by Hyouk
  // IE 필터 대응
  // 토요일 윈도우 컴에서 테스트*
  // filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	// -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  // zoom: 1;
  @include render-hack(box-shadow);
}


/* ==============================
  box-shadow
============================== */
@mixin        box-shadow($val:$grid2x, $val2:$grid4x, $color:$lightGrey){
  -webkit-box-shadow:  0 $val $val2 $color;
  -khtml-box-shadow:   0 $val $val2 $color;
  -moz-box-shadow:     0 $val $val2 $color;
  -ms-box-shadow:      0 $val $val2 $color;
  -o-box-shadow:       0 $val $val2 $color;
  box-shadow:          0 $val $val2 $color;
  @include render-hack(box-shadow);
}


/* ==============================
    box border bgcolor
============================== */
@mixin         box-settings($bd: $stroke, $bg: white, $n: 0px) {
  -webkit-border: 1px solid $bd;
  -khtml-border:  1px solid $bd;
  -moz-border:    1px solid $bd;
  -ms-border:     1px solid $bd;
  -o-border:      1px solid $bd;
  border:         1px solid $bd;
  background-color:         $bg;
  -webkit-border-radius:     $n;
  -khtml-border-radius:      $n;
  -moz-border-radius:        $n;
  -ms-border-radius:         $n;
  -o-border-radius:          $n;
  border-radius:             $n;
  @include render-hack(border-radius, border);
}


/* ==============================
  make center
============================== */
@mixin set-center(){
  top: 50%;
  left: 50%;
  margin-right: -50%;
  @include transform(translate(-50%, -50%));
  @include render-hack(top, left, transform, translate, margin-right);
}
