// TODO by Hyouk
// mqbp tablet 이상에서 monthly-picker 화면 밖으로 나가는 이슈
.vue-monthly-picker {
  right: 0;
  top: 50%;
  left: 50%;
  z-index: 10;
  position: absolute;
  margin-right: -100%;
  @include transform(translate(-100%, 0%));
  @media #{$tablet}{
    right: auto;
    padding-right: $grid4x;
  }
  .picker {
    @media #{$tablet} {
      min-width: 36vw !important;
    }
    @media #{$mobile} {
      min-width: 48vw !important;
    }
    @media #{$mobile} {
      min-width: 56vw !important;
    }
    .next,
    .prev {
      &:hover {
        cursor: pointer;
      }
    }
    .monthItem {
      .item {
        // border-top: 1px solid $stroke;
        &.active {
          &:hover {
            cursor: pointer;
            background-color: $white-hover;
          }
        }
        &.deactive {
          color: $disabled
        }
      }
    }
    .flexbox {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      div {
        flex-grow: 1;
        padding: $grid2x 0;
        border: none !important;
      }
      .item {
        flex: 1;
        flex-basis: 25%;
        // min-width: 200px !important;
      }
    }
  }
  .placeholder {
    color: $textLightGrey;
  }
  .date-popover {
    z-index: 6;
    width: 100%;
    margin: auto;
    outline: none;
    max-width: 320px;
    font-weight: 900;
    background: $white;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid $stroke;
    @include box-shadow();
    @include font-size($grid4x);
    @include border-radius($grid);
    // @include inner-border(1px, $stroke);
  }
  .month-picker-wrapper {
    display: block;
    min-width: 0px !important;
    @media #{$tablet-min}{
      right: -25%;
    }
  }
  .month-year-label {
    outline: none;
  }
  .text {
    z-index: 5;
    position: relative;
  }
  .month-year-display {
    font-weight: 400;
    color: $textLightGrey;
    @include transition(color .25s ease);
    &:hover {
      cursor: pointer;
      color: $textGrey;
    }
  }
  .next,
  .prev {
    width: 16%;
    float: left;
    position: relative;
    text-indent: -10000px;
    &:after {
      top: 50%;
      left: 50%;
      content: "";
      position: absolute;
      @include transform(translateX(-50%) translateY(-50%));
    }
  }
  .next {
    &:after {
      border-left: $grid2x solid $textLightGrey;
      margin-left: $grid;
      &:hover {
        border-left: $grid2x solid $textGrey;
      }
    }
  }
  .prev {
    &:after {
      border-right: $grid2x solid $textLightGrey;
      margin-left: $grid;
      &:hover {
        border-left: $grid2x solid $textGrey;
      }
    }
  }

  .input {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: $grid;
    box-shadow: none;
    display: inline-flex;
    height: 2.25em;
    justify-content: flex-start;
    position: relative;
    vertical-align: top;
    background-color: $white;
    color: $textGrey;
    border-color: $stroke;
    width: 100%;
    max-width: 100%;
    @include font-size(16px);
    @include line-height(16px);
  }
}
