// TODO by Hyouk
// 버튼 위로 클릭되는 이슈

.vue-monthly-picker {
  right: 0;
  top: 50%;
  left: 50%;
  z-index: 10;
  position: absolute;
  margin-right: -100%;
  @include transform(translate(-100%, 0%));
  @include render-hack(right, top, left, transform);
  @media #{$tablet}{
    right: auto;
    padding-right: $grid4x;
  }
  .picker {
    @media #{$tablet} {
      min-width: 36vw !important;
    }
    @media #{$mobile} {
      min-width: 48vw !important;
    }
    @media #{$mobile} {
      min-width: 56vw !important;
    }
    .next,
    .prev {
      &:hover {
        cursor: pointer;
      }
    }
    .monthItem {
      .item {
        &.active {
          &:hover {
            cursor: pointer;
            background-color: $white-hover;
          }
        }
        &.deactive {
          color: $disabled
        }
      }
    }
    .flexbox {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      @include render-hack(flex-wrap, padding);
      div {
        flex-grow: 1;
        padding: $grid2x 0;
        border: none !important;
        @include render-hack(flex-grow);
      }
      .item {
        flex: 1;
        flex-basis: 25%;
        @include render-hack(flex, flex-basis);
      }
    }
  }
  .placeholder {
    color: $before;
  }
  .date-popover {
    z-index: 6;
    width: 100%;
    margin: auto;
    outline: none;
    max-width: 320px;
    font-weight: 900;
    background: $white;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    @include box-shadow();
    border: 1px solid $stroke;
    @include font-size($grid4x);
    @include border-radius($grid);
    @include render-hack(top, left, margin, transform, width);
    @include keyframes(popover, 0.25s){
      0%   { @include opacity(0); @include transform(scale(0.9)); }
      100% { @include opacity(1); @include transform(scale(1.0)); }
    }
  }
  .month-picker-wrapper {
    display: block;
    min-width: 0px !important;
    @include render-hack(width);
    @media #{$tablet-min}{
      right: -25%;
      @include render-hack(right);
    }
  }
  .month-year-label {
    outline: none;
  }
  .text {
    z-index: 5;
    position: relative;
  }
  .month-year-display {
    color: $textGrey;
    font-weight: 400;
    @include transition(color .25s ease);
    &:hover {
      cursor: pointer;
      color: $textDark;
    }
  }
  .next,
  .prev {
    width: 16%;
    float: left;
    position: relative;
    text-indent: -10000px;
    @include render-hack(width);
    &:after {
      top: 50%;
      left: 50%;
      content: "";
      position: absolute;
      @include render-hack(transform, top, left);
      @include transform(translateX(-50%) translateY(-50%));
    }
  }
  .next {
    &:after {
      margin-left: $grid;
      border-left: $grid2x solid $textLightGrey;
      &:hover {
        border-left: $grid2x solid $textGrey;
      }
    }
  }
  .prev {
    &:after {
      margin-left: $grid;
      border-right: $grid2x solid $textLightGrey;
      &:hover {
        border-left: $grid2x solid $textGrey;
      }
    }
  }

  .input {
    width: 100%;
    height: 2.25em;
    max-width: 100%;
    color: $textGrey;
    box-shadow: none;
    position: relative;
    vertical-align: top;
    align-items: center;
    border-radius: $grid;
    display: inline-flex;
    border-color: $stroke;
    -moz-appearance: none;
    background-color: $white;
    -webkit-appearance: none;
    @include font-size(16px);
    @include line-height(16px);
    justify-content: flex-start;
    border: 1px solid transparent;
  }
}
